<section class="jumbotron">
  <div class="row">
    <h1>Official Information Requests</h1>
    <h2> 
      from <b>{{from}}</b> to <b>{{to}}</b>
      <br/>
      on <a href="https://fyi.org.nz">fyi.org.nz</a>
    </h2>
  </div>
</section>
<section class="container-fluid">
  <div class="row overview">
    <div class="col-xs-12">
      <h1>{{total}} Requests</h1>
      <ul class="row list-inline">
        <li class="col-xs-4 successful">
          <h2>{{successCount}}</h2>
          <h3 class="subheader">Successful</h3>
        </li>
        <li class="col-xs-4 refused">
        <h2>{{refusedCount}}</h2>
          <h3 class="subheader">Refused</h3>
        </li>
        <li class="col-xs-4 not-held">
          <h2>{{notHeldCount}}</h2>
          <h3 class="subheader">Not Held</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Most Successful Requests</h1>
      <ul class="row list-inline successful" >
        <li class="col-xs-4" ng-repeat="item in successful">
          <a href="{{site}}/body/{{item.url}}">
            <h2>{{100 * item.rate / item.count | number:0}}%</h2>
            <h4 class="subheader">{{item.rate}} out of {{item.count}}</h4>
            <h3 class="subheader">{{item.name}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Most Refused Requests</h1>
      <ul class="row list-inline refused">
        <li class="col-xs-4" ng-repeat="item in refused">
          <a href="{{site}}/body/{{item.url}}">
            <h2>{{100 * item.rate / item.count | number:0}}%</h2>
            <h4 class="subheader">{{item.rate}} out of {{item.count}}</h4>
            <h3 class="subheader">{{item.name}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Most Not Held Requests</h1>
      <ul class="row list-inline not-held">
        <li class="col-xs-4" ng-repeat="item in notHeld">
          <a href="{{site}}/body/{{item.url}}">
            <h2>{{100 * item.rate / item.count | number:0}}%</h2>
            <h4 class="subheader">{{item.rate}} out of {{item.count}}</h4>
            <h3 class="subheader">{{item.name}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Most Requests</h1>
      <ul class="row list-inline">
        <li class="col-xs-4" ng-repeat="item in popular">
          <a href="{{site}}/body/{{item.url}}">
            <h2>{{item.count}}</h2>
            <h3 class="subheader">{{item.name}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Public Body Statistics</h1>
      <input type="search" class="form-control" ng-model="query" placeholder="Filter list"/>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th rowspan="2" width="33%">Body</th>
            <th colspan="8">Working days to answer</th>
            <th colspan="2">Unanswered</th>
          </tr>
          <tr>
            <th>1-5</th>
            <th>6-10</th>
            <th>11-15</th>
            <th>16-20</th>
            <th>21-40</th>
            <th>41-60</th>
            <th>61+</th>
            <th>Median</th>
            <th>Count</th>
            <th>Oldest</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in requests | filter:query">
            <td><a href="{{request.body_url}}">{{request.body}}</a></td>
            <td>{{request.bands[0]}}</td>
            <td>{{request.bands[1]}}</td>
            <td>{{request.bands[2]}}</td>
            <td>{{request.bands[3]}}</td>
            <td>{{request.bands[4]}}</td>
            <td>{{request.bands[5]}}</td>
            <td>{{request.bands[6]}}</td>
            <td><b>{{request.median}}</b></td>
            <td><span ng-show="request.unanswered">{{request.unanswered}}</span></td>
            <td><ng-pluralize count="request.oldest" when="{ '0': '', '1': '1 day', 'other': '{} days' }"></ng-pluralize></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-xs-8 col-xs-offset-2 alert alert-warning">
    <h3>
      Some caveats
    </h3>
    <ul>
      <li>The completion date is assumed to be the first reply matching the final status. 
      <li>The categorisation is assumed to be accurate. 
      <li>The date of completion also does not take into account extensions.
    </ul>
  </div>
</section>
