doctype 5
html
  head
    title #{law} Stats for #{host}
    link(rel='shortcut icon', href='/images/favicon.png')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='/js/bootstrap-button.js')
    script(src='/js/d3.v3.js')
    script(src='/js/nv.d3.js')
    script(src='/js/graphs.js')
    link(rel='stylesheet', href='/stylesheets/graphs.css')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15292420-1']);
        _gaq.push(['_setDomainName', 'fyi.org.nz']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") #{law} Stats for #{host}
    .container
      block content
