doctype 5
html
  head
    title #{law} Stats for #{host}
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='/js/bootstrap-button.js')
    script(src='/js/d3.v3.js')
    script(src='/js/nv.d3.js')
    script(src='/js/graphs.js')
    link(rel='stylesheet', href='/stylesheets/graphs.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") #{law} Stats for #{host}
    .container
      block content
